<div class="container">
    <div class="backdrop">
        <div class="navbar">
            <app-nav-bar></app-nav-bar>
        </div>
        <div>
            Looking for just a vendor or a <span class="em">business partner?</span>
        </div>
        <div class="caption">
            We live to establish meaningful, life-long relationships with devoted dental health care
            professionals by specializing in conventional, hand fabricated dental prosthetic applicances for their family.
        </div>
    </div>
    <div class="image-layer">
        <div class="image-container"></div>
    </div>
</div>