<div class="container">
    <div class="wrapper">
        <div class="toggle-menu" [ngClass]="navIconState" (click)="toggleNav()">
            <div class="fas fa-bars"></div>
        </div>
        <div *ngIf="isActive" class="sidebar-container">
            <div class="login-container">
                <div class="header">
                    <div class="title">Join our growing network of</div>
                    <div class="lead">200+ dental professsionals and labs</div>
                </div>
                <div class="selector-container">
                    
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput />
                    </mat-form-field>
                    <mat-checkbox>I accept to the <span class="bold">Terms and Conditions</span></mat-checkbox>
                    <div class="button">
                        <button mat-raised-button color="primary">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="hipaa">
                    HIPAA/Privacy Policy
                </div>
                <div>
                    &#9400; 2017 - {{year}} Accurate Dental Studios, LLC. All Rights Reserved
                </div>
                
            </div>
        </div>
    </div>
</div>