<div class="container">
    <div class="wrapper">
        <div class="header">
            <div class="title">Join our growing network of</div>
            <div class="lead">200+ dental professsionals and labs</div>
        </div>
        <div class="selector-container">
            <div class="lead">Signup as a...</div>
            <div class="selector">
                <div>DENTIST</div>
                <div>LAB</div>
            </div>
        </div>
        <div class="form-container">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-checkbox>I accept to the <strong>Terms and Conditions</strong></mat-checkbox>
            <div>
                <button mat-raised-button color="primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>