<div class="container">
    <div class="wrapper">
        <div class="default-container">
            <div class="content-container">
                <div class="header-container">
                    <div class="title">
                        <img src="../../assets/public/tooth-aim.png" style="width: 75px;margin-right: .25em;">
                        <div>Accurate Dental Studios</div>
                    </div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/AccurateDentalStudios/" target="_blank"  class="fb-link">
                            <div class="fab fa-facebook-square"></div>
                        </a>
                        <a href="https://www.linkedin.com/in/richard-j-339b53172" target="_blank" class="linked-link">
                            <div class="fab fa-linkedin"></div>
                        </a>
                        <a href="https://www.yelp.com/biz/accurate-dental-studios-suwanee" target="_blank" class="yelp-link">
                            <div class="fab fa-yelp"></div>
                        </a>
                        <a href="tel:6785950185" target="_blank" class="phone-link">
                            <div class="fas fa-phone-square-alt"></div>
                        </a>
                        <a href="mailto:lab@accuratedental.net" class="email-link">
                            <div class="fas fa-envelope-square"></div>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <div>We are the</div>
                    <div class="accent">Makers</div>
                    <div>of Teeth.</div>
                    <div class="divider"></div>
                    <div class="caption">
                        The Right-Hand of Dental Professionals
                    </div>
                </div>
                <div class="link-container">
                    <div [routerLink]="['/']">Home</div>
                    <div [routerLink]="['about']">About</div>
                    <div>Support</div>
                    <div>Careers</div>
                    <div>Contact</div>
                    <div>FAQ's</div>
                </div>
            </div>
            <div class="login-container" [ngClass]="sidebar" >
                <app-login (toggleMenu)="toggleMenu($event)"></app-login>
            </div>
        </div>
    </div>
</div>