<div class="container">
    <div class="wrapper">
        <div class="default-container">
            <div class="content-container">
                <div class="header-container">
                    <img src="../../assets/public/ads-new-logo.png" style="width: 80px;">
                    <div>Accurate Dental Studios</div>
                </div>
                <div>
                    <div>We are the</div>
                    <div class="accent">Makers</div>
                    <div>of Teeth.</div>
                    <div class="divider"></div>
                    <div class="caption">
                        The Right-Hand of Dental Professionals
                    </div>
                </div>
                <div class="link-container">
                    <div>Home</div>
                    <div>About</div>
                    <div>Support</div>
                    <div>Careers</div>
                    <div>Contact</div>
                    <div>FAQ's</div>
                </div>
            </div>
            <div class="login-container" [ngClass]="sidebar">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>