@import "../app.component.less";

.container {
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    max-height: 100%;
    .wrapper {
        color: #fff;
        .default-container {
            width: 100%;
            height: 100%;
            display: flex;
            background-image: url('../../assets/public/main-backdrop.jpg');
            background-size: cover;
            .content-container {
                flex: 5;
                font-size: 76px;
                padding: 0 1.5rem 5rem 5rem;
                font-weight: bold;
                display: flex;
                text-align: left;
                flex-direction: column;
                justify-content: space-between;
                background: linear-gradient(180deg, rgba(117,200,182,.75) 0, rgba(14,19,37,.95) 100%);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                .social-media {
                    display: flex;
                    font-size: 28px;
                    align-self: flex-start;
                    margin-top: 25px;
                    background-color: rgba(33,33,33,.15);
                    border-radius: 5px;
                    padding: 0 .35em;
                    a {
                        margin: .35em;
                        color: #007bb5;
                        text-decoration: none;
                    }
                    a:first-child {
                        color: #3B5998;
                    }
                    a:last-child {
                        color: #d32323;
                    }
                    a:hover {
                        color: @secondary;
                    }
                }
                .accent {
                    color: #75C8B6;
                }
                .link-container, .header-container {
                    font-weight: normal;
                }
                .header-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .title {
                        margin-top: 2em;
                        display: flex;
                        align-items: center;
                        color: @primary;
                        font-weight: bold;
                        font-size: 32px;
                    }
                }
                .link-container {
                    font-size: 16px;
                    display: flex;
                    width: 60%;
                    justify-content: space-between;
                    div:hover {
                        color: @secondary;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            .caption {
                font-size: 24px;
                font-weight: lighter;
            }
            .login-container {
                flex: 2;
                min-width: 320px;
                background-color: #0e1325;
                transition: .2s;
                box-shadow: -2px 2px 8px rgba(0,0,0,.2);
            }
            .login-container.open {
                min-width: 320px;
            }
            .login-container.close {
                min-width: 65px;
                flex: 0;
            }
        }
    }
}