<div class="container">
    <div class="content-container">
        <div class="header-container">
            <div class="title">
                <img src="../../../../assets/public/tooth-aim.png" style="width: 75px; margin-right: .25em">
                <div>Accurate Dental Studios</div>
            </div>
            <app-social-link></app-social-link>
        </div>
        <div class="header">
            <div>We are the</div>
            <div class="accent">Makers</div>
            <div>of Teeth.</div>
            <div class="divider"></div>
            <div class="caption">
                The Right-Hand of Dental Professionals
            </div>
        </div>
        <div class="link-container">
            <div [routerLink]="['about']">About</div>
            <div [routerLink]="['service']">Services</div>
            <div [routerLink]="['support']">Support</div>
            <div [routerLink]="['career']">Careers</div>
            <div [routerLink]="['contact']">Contact</div>
            <div [routerLink]="['faq']">FAQ's</div>
        </div>
    </div>
</div>